/* Estamos dando estilos y animacion a nuestra web */

/* Estilos generales */

:root {
    --bg-color: #181419;
    --primary-color: #9f3647;
    --secondary-color: #ffc098;
    --third-color: #db4648;
    --trird-bis-color: #db4648f2;
    --bg-input-color:#4f31572c;
}

/* Estilos generales para el body y el html */

body, html {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

header{
    background-color: var(--primary-color);
    padding: 2vh 0;
}
/* Al aplicar display flex a un elemento padre, se convierte en 
    un contenedor flexible esto va a organizar a sus elementos hijos
    de manera flexible segun sea necesario */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

nav ul li{
    display: inline-block;

}

nav ul li:first-child{
    margin-left: 0; /* Quitamos el margen izquierdo del primer elemento de la lista */
}

nav ul li:last-child{
    margin-right: 1vw;
}

nav ul li a, nav>a{
    display: block; /* Hacemos que los elementos de la lista sean bloques */
    padding: 10px 20px; /* Añadimos un padding de 10px arriba y abajo y 20px a los lados */
    text-decoration: none; /* Quitamos la decoracion de los enlaces */
    color: var(--secondary-color); /* Añadimos un color a los enlaces */
    transition: background-color 0.3s; /* Añadimos una transicion al color de fondo de los enlaces */
}

nav ul li a:hover{
    background-color: var(--bg-input-color); /* Añadimos un color de fondo al pasar el raton por encima */
}

/* Estilos para el boton */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn{

    padding: 10px 20px;
    font-size: 1 rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: var(--bg-input-color);
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.btn:hover{
    animation: pulse 0.5s infinite alternate;
}